body {
  margin: 0;
}
header {
  margin: 0;
  height: 100vh;
  background: url('https://source.unsplash.com/random') center/cover no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,.4);
  align-items: baseline;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  padding-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #fff;
  margin-left: 50px;
}
