h3::first-letter{
  color: #00796B;
  font-size: 3em;
}

h3:hover::first-letter {
  color: #4FC3F7; /* beim hover h3 oder beim hover first-letter*/
}

ul li:first-child::first-letter{
  color: #4FC3F7;
  font-size: 2em;
  text-decoration:overline;
}

ul li:nth-child(2)::first-letter{
  text-decoration:underline;
  font-size: 2em;
  color: #C51162;
}

ul li:last-child::first-letter{
  color: #64DD17;
  font-size: 2em;
  text-decoration:line-through;
}

ul li:last-child {
  text-decoration:line-through;
}

section p:first-child {
  text-indent: 50px;
  color: #37474F;
}

section p:first-child::first-line {
  font-size: 1.3em;
}

section p:not(:first-child)::first-letter{
  color: #D50000;
  font-size: 1.5em;
}
section p:not(:first-child)::first-line{
  color: green;
}
section p:not(:first-child):hover::first-line{
  color: #303F9F;
}

section p:nth-child(2n){
  font-weight: 600;
}
