body {
  margin: 0;
}

section {
  display: flex;

}

div {
  width: 20%;
  height:100vh;
  background-color:gray;
}

section div:nth-of-type(1){
  animation: changeBgc 2000ms ease infinite;
  animation-fill-mode: backwards;
  animation-direction: normal;
  animation-play-state: running;
}
section div:nth-of-type(2){
  animation: changeBgc 1000ms ease infinite;
  animation-fill-mode: backwards;
  animation-direction: normal;
  animation-play-state: running;
}
section div:nth-of-type(3){
  animation: changeBgc 500ms ease infinite;
  animation-fill-mode: backwards;
  animation-direction: normal;
  animation-play-state: running;
}
section div:nth-of-type(4){
  animation: changeBgc 250ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-fill-mode: backwards;
  animation-direction: normal;
  animation-play-state: running;
}
section div:nth-of-type(5){
  animation: changeBgc 125ms ease infinite;
  animation-fill-mode: backwards;
  animation-direction: normal;
  animation-play-state: running;
}


@keyframes changeBgc {
  0%,100% {background-color: white;}
  50% {background-color: rgb(85, 85, 85);}
  75% {background-color: black;}
}
