html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

section{
  height: 100vh;
}
section div {
  text-align: center;
  padding-top: 300px;
}
section i {
  font-size: 30px;
}

#section1 {
  background-color: indianred;
}

#section2 {
  background-color: yellow;
}

#section3{
  background-color: green;
}

#section1 i {
  color: black;
  animation: moveDown 2s linear infinite;
}
#section2 i {
  color: black;
  animation: moveDown 2s linear infinite;
}
@keyframes moveDown {
  0% {transform: translateY(0); color:#00000020}
  25% {transform: translateY(10px); color:#00000040}
  75% {transform: translateY(20px); color:#00000060}
  100% { transform: translateY(30px); color:#00000080}
}
#section3 i {
  color: black;
  animation: moveUp 2s linear infinite;
}
@keyframes moveUp {
  0% {transform: translateY(0); color:#00000020}
  25% {transform: translateY(10px); color:#00000040}
  75% {transform: translateY(20px); color:#00000060}
  100% { transform: translateY(30px); color:#00000080}
}
