@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*Variables*/
@import './variables.scss';
@import './mixin.scss';
// $gold:gold;
// $big:4em;
// $small:1em;
// Mixin

// h1{
//     text-align: center;
//     color:$gold;
//     font-size: $big;
// }
body{
    margin: 0;
}
header{
    background: rgba(0,0,0,.4);
    display:flex;
    justify-content:space-between;
    padding: 0 8%;
    align-items:baseline;
    h2{
        color:#fff
    }
    ul{
        list-style: none;
        display: flex;
        li{
            padding-right: 30px;
            a{
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
}
.card{
    padding: 100px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    font-family: 'Open Sans', sans-serif;
    &_image{
        width: 100%;
    }
    &_item{
        padding: 10px;
        &:hover{
            box-shadow: 0 0 5px rgba(0,0,0,.4);
        }
    }
    &_title:hover{
        +p{
            color:#666
        }
    }
    &_description{
        color:#333
    }
}

ul.step{
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    list-style:none;
    // font-family: 'Open Sans', sans-serif;
    // font-size:2em;
    // font-weight: 700;
    font: {
        family:'Open Sans', sans-serif;
        size:2em;
        weight:700;
    }
    >li{
        padding: 8px 30px;
        &:nth-child(1){
            background: lightblue;
        }
        &:nth-child(2){
            background: lightpink;
        }
        &:nth-child(3){
            background: lightcoral;
        }
        &:nth-child(4){
            background: lightgreen;
        }
    }
}
.container{
    text-align:center;
    margin: 100px 0;
}
.large{
    background: rgb(91, 91, 232);
    color: #ffffff;
    padding: 10px 100px;
    border:none;
    font-size: 3em;
}
.subscribe{
    @extend .container;
    button {
        @extend .large;
        background:lightpink;
    }
    p{
        @include valid-is-cool;
    }
}
.contact{
    padding:50px 8%;
    h1{
        @include my-style;
        @include text-style(2em,700,italic,2px,40px);
        @include pad();
        color:darken(gold,25%);
        //hue(red)=> 0 deg
    }
}
