@import "./variables.scss";

i {
  font-size: $size-large;
}

.la-twitter {
  color: $color-twitter;
}
.la-facebook-f {
  color: $color-facebook;
}
.la-behance {
  color: $color-behance;
}
.la-vimeo {
  color: $color-vimeo;
}
.la-snapchat {
  color: $color-snapchat;
}
.la-airbnb {
  color: $color-airbnb;
}
.la-amazon {
  color: $color-amazon;
}
.la-android {
  color: $color-android;
}
.la-stack-overflow {
  color: $color-stack-overflow;
}
.la-github {
  color: $color-github;
}
.la-js-square {
  color: $color-javascript;
}
.la-ubuntu {
  color: $color-ubuntu;
}
