/*SIZE*/
$size-large : 8rem;

/* COLORS */
$color-facebook : #3b5998;
$color-twitter : #1da1f2;
$color-behance : #1769ff;
$color-stack-overflow : #f48024;
$color-vimeo : #1ab7ea;
$color-snapchat : #fffc00;
$color-javascript : #f7df1e;
$color-airbnb : #fd5c63;
$color-amazon : #ff9900;
$color-android : #a4c639;
$color-github : #333;
$color-ubuntu : #dd4814;

