/* section div{
    height: 100px;
    width: 500px;
    background:tomato;
}
section div:nth-of-type(1){
    position: relative; */
    /* left: 50px;
    top: 50px; */
    /* right:-50px;
    bottom:-50px; */
    /* top:100px;
    left:500px; 
     */
    /* left:-480px
}
section div:nth-of-type(2){
    background:gold;
}
a:hover + div:nth-of-type(1){
    left:0px;
    
}

article{
    height: 300px; 
    margin-top: 50px;
    background: rgba(0,0,0,.2);
    position: relative;
}

article div{
    height: 100px;
    width: 500px;
    background:tomato;
    position: absolute
}
article div:nth-of-type(1){
    right: 0;
    
}
article div:nth-of-type(2){
    background:lightgreen;
    width: 400px;
} */

/* section{
    height: 600px;
    width: 600px;
    position:relative;
    background: rgba(0,0,0,.2);
}
div{
    position:absolute;
    height: 100px;  
    width: 100px;
    background: #000;
}
section div:nth-child(1){
    height: 400px;  
    width: 400px;
    top: 100px;
    left: 100px;
    background:gold;
    border-radius: 100%;
}
section div:nth-child(2){
    height: 80px;  
    width: 80px;
    background: #000;
    top: 200px;
    left: 200px;
    border-radius: 100%;

}
section div:nth-child(3){
    height: 80px;  
    width: 80px;
    background: #000;
    top: 200px;
    left: 340px;
    border-radius: 100%;
}
section div:nth-child(4){
    height: 100px;  
    width: 100px;
    background: #000;
    top: 350px;
    left: 250px;
    border-radius: 100%;
}
section div:nth-child(5){
    height: 10px;  
    width: 10px;
    top: 250px;
    left: 260px;
    background:#fff;
    border-radius: 100%;
}
section div:nth-child(6){
    height: 10px;  
    width: 10px;
    top: 250px;
    left: 400px;
    background:#fff;
    border-radius: 100%;
} */
body{
    margin: 0;
}
header{
    background: tomato;
    color: #ffffff;
    padding: 20px;
    /* position: fixed; */
    /* width: 100%; */
    position:sticky;
    top: 0%; 
    bottom: 0;
}
header h1{
    margin: 0;
}
section{
    height: 100vh;
    background: gold;
}
section:nth-of-type(1){
   padding-top: 80px;
}
section:nth-of-type(2){
    background: lightblue;
}
section:nth-of-type(3){
    background: lightgreen;
}
nav div{
    height: 4px;
    width: 30px;
    background: #000;
    margin-bottom: 4px;
}
nav div:nth-of-type(2){
    height: 4px;
    width: 20px;
}
nav div:nth-of-type(3){
    height: 4px;
    width: 10px;
}
nav{
    position:fixed;
    top:50%;
    right: 20px;
}