h1 {
  font-size: 48px;
  background-color: orange;
  text-shadow: 4px -4px yellow;
  font-family: Tahoma, Verdana, sans-serif;
}

nav p {
  text-indent: 50px;
  word-spacing: 8px;
  font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main p {
  word-spacing: 15px;
  text-indent: 100px;
}

h2 {
  text-shadow: -6px 6px blue;
  letter-spacing:3px;
}
section p, aside p {
  line-height: 100px;
  background-color:aqua;
}
