section {
  background-color:linen;
}

section>h1 {
  background-color: lightblue;
}

article {
  background-image: url("https://source.unsplash.com/random/");
  background-repeat: no-repeat;
  background-position: center;
background-size: cover;
}
