@mixin header-style ($h,$t-al,$f-fam,$p){
  height: $h;
	text-align: $t-al;
	font-family: $f-fam;
	padding: $p;
}

@mixin li-style ($p,$list-s) {
  padding: $p;
  list-style: $list-s;
}
@mixin a-style ($td, $cl, $font-f){
  text-decoration: $td;
      color: $cl;
      font-family: $font-f;
}
