@import "./variables.scss";

body {
  margin: 0;
}

header {
  height: $screen-height;
  background-image: linear-gradient(45deg, $color-aqua 12.50%, $color-yellow 12.50%, $color-yellow 25%, $color-red 25%, $color-red 37.50%, $color-purple 37.50%, $color-purple 50%, $color-aqua 50%, $color-aqua 62.50%, $color-yellow 62.50%, $color-yellow 75%, $color-red 75%, $color-red 87.50%, $color-purple 87.50%, $color-purple 100%);
  background-size: 1131.37px 1131.37px;
  span {
    font-weight: bold;
    padding: 20px;
    font-size: 2rem;
  }
  h1 {
    color: white;
    font-size: 12rem;
    text-align: center;
  }
  h2 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin-top: -175px;
    margin-bottom: 150px;
  }
  ul {
    margin-right: 50px;
    padding-top: 50px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      padding-right: 20px;
    }
  }
}
