a {
  text-decoration:none;
}

h1 {
  letter-spacing:5px;
  text-align: center;
  text-decoration: overline;
  text-decoration: underline;
  text-transform: uppercase;
  word-spacing: 50px;
  font-family: Verdana, Arial, sans-serif;
}

section>h1{
  color: red;
  direction:rtl; /*yazi yönü*/
}

#ersteÜberschrift {
  direction:rtl;
}

h4+p {
  line-height:80px;
  text-align:right;
  background-color:gold;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
}

h2+p {
  text-indent: 40px;
}

h4 {
  text-shadow: 4px -4px red;
}
