form {
  position: relative;
  width: 500px;
}

fieldset {
  border: none;
  background-color: rgb(228, 228, 228);
}

form div {
  margin: 0;
  background-color: rgb(68, 171, 202);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

legend {
  color:rgb(68, 171, 202);
  font-size: 18px;
  font-weight: bolder;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 7px 0;
}

input[type="submit"]{
  display: inline-block;
  margin-top: 10px;
  background-color:  rgb(68, 171, 202);
  width: 75px;
  padding: 5px 5px;
  color: white;
  border-radius:5px
}

input[type="checkbox"] {
  width: 10px;
  display: inline-block;
  margin-left: 170px;
}

label[for="terms"] {
  display:inline-block;
  width: 230px;
  text-align: right;
}
