* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 6rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1rem;
}

h1, h2 {
  font-size: 1rem;
}

ul {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: rgba(128, 128, 128, 0.397);
}

li {
  padding:1rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-flow: column nowrap;
}

.section {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.first_article, .second_article {
  @extend .section;
}

.first_article > h3, .second_article > h3 {
  color: rgba(0, 128, 0, 0.781);
}

.section > h3, .first_article > h3, .second_article > h3 {
  margin-bottom: .5rem;
}

.aside {
  @extend .main;
}

.first_aside, .second_aside, .third_aside, .fourth_aside {
  margin: .5rem;
  border: 0.2rem solid rgba(0, 0, 255, 0.678);
  padding: 1rem;
}

.first_aside > h3, .second_aside > h3, .third_aside > h3, .fourth_aside > h3 {
  color: rgba(255, 0, 0, 0.705);
}

.footer {
  @extend .header;
  background-color: rgba(128, 128, 128, 0.658);
  margin-top: 3rem;
}


@media only screen and (min-width: 1024px) {
  .main {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  }

  .aside {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  }

  .section,  .first_article, .second_article {
      width: 30%;
  }

  .first_aside, .second_aside, .third_aside, .fourth_aside {
      width: 45%;
  }

}
